DATABASE_URL="postgres://slog:slog@localhost:5432/slog"
DOCKER_DATABASE_URL="postgres://slog:slog@db:5432/slog"
DATABASE_POOL_MAX="5"
POSTGRES_DB="slog"
POSTGRES_USER="slog"
POSTGRES_PASSWORD="slog"
POSTGRES_PORT="5432"
BETTER_AUTH_SECRET="" # generate with: openssl rand -base64
BETTER_AUTH_URL="http://localhost:3000" # Base URL of your app
